<form action="/processing">
  <% @currquiz.each do |question_num|%>
    <% @question = Question.find_by(id: question_num) %>
    <h3 class="question" id="q<%= question_num %>"> <%= @question.title %></h3>
      <ul class="answers">
        <label>
          <input type="radio" name="<%= question_num %>" value="griffendor" id="q<%= question_num %>g">
          <%= @question.griffendor_answer  %>
        </label><br/>
        <label>
          <input type="radio" name="<%= question_num %>" value="ravenclaw" id="q<%= question_num %>r">
          <%= @question.ravenclaw_answer %>
        </label><br/>
        <label>
          <input type="radio" name="<%= question_num %>" value="hufflepuff" id="q<%= question_num %>h">
          <%= @question.huffelpuff_answer  %>
        </label><br/>
        <label>
          <input type="radio" name="<%= question_num %>" value="slytheryn" id="q<%= question_num %>s">
          <%= @question.slytheryn_answer  %>
        </label><br/>
      </ul>
  <% end %>
  <input type="submit">
</form>
